  <div class="card">
    <img class="card-img-top img-fluid" src="<%= post.banner_image_url %>" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.title, post %></h4>
      <p class="published-date">
        <%= post.display_day_published %>
      </p>
      <p class="card-text">
        <%= truncate(post.description, length:130) %>
      </p>
      <%= link_to 'Read', post, class:'btn btn-read'%>
    </div>
  </div>
